.bg-success {
    background-color: #4d8b55 !important;
}

.text-success {
    color: #4d8b55 !important;
}

.btn-success {
    background-color: #4d8b55 !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}


a {
    text-decoration: none;
    
}

ul,
ol {
    list-style: none;
}

nav ul li {
    padding: 0 11px 0;
}

nav ul li a i {
    border: 1px solid #4d8b55;
    padding: 8px;
    border-radius: 50%;
    transition: 0.5s;
}

header{
    background-color: #000!important;
}
nav ul li a i:hover {
    color: white;
}

nav ul li a:hover {
    color: #4d8b55 !important;
}

nav ul li .drop-down {
    opacity: 0;
    visibility: hidden;
    top: 100px;
    transition: 0.5s;
}

nav ul li:hover .drop-down {
    opacity: 1;
    top: 80px;
    visibility: visible;
    position: absolute;
}


.drop-down ul li:hover a {
    background-color: #4d8b55 !important;
    color: white !important;
}


/* banner-start */
.banner {
    background-image: url('../img/menu_parallax.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    position: relative;
    padding: 250px 0;
    z-index: -1;

}
.banner::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.688);
}

.banner h6 {
    position: absolute;
    transform: rotate(-90deg)
}

.banner .banner-icon {
    position: absolute;
    right: 5%;
}

/* banner-end */

.banner-card {
    padding-top: 120px;
}

.banner-card .container {
    max-width: 1135px;
}

.card {
    width: 1135px;
    height: 700px;
    overflow: hidden;
}

.card .card-image {
    width: 100%;
    transition: all 0.4s;
}

.card:hover .card-image {
    transform: scale(1.1);
    transition: all 0.4s;
}

a button {
    background-color: #4D8B55;
    padding: 8px 16px 9px;
    border-radius: 50px;
    font-weight: bold;
    border: 0;
    margin-top: 20px;
    transition: 0.5s;
    font-size: 12px;
}

a button:hover {
    background-color: #000;
}

.packaging {
    background-color: #efece5;
    margin-top: 45px;
    margin-bottom: 30px;
    padding: 12px 30px 15px;
    width: 1135px;
}

.package-line span {
    width: 1075px;
    margin-left: 0;
}

.quote {
    border: 3px solid #4D8B55;
    padding: 30px 30px 0px;
    margin: 0px 0px 30px;
}

/* footer */
.footer {
    background-image: url('../img/footer-bg.jpg');
    padding: 100px 0 0 0;
    background-size: cover;
    background-color: #15151596;
    background-blend-mode: darken;
}


.footer-content h3 {
    position: relative;
    padding-bottom: 10px;
}

.footer-content h3::after {
    margin-top: 4px;
    border-bottom: 2px solid #4d8b55;
    border-color: #4D8B55;
    border-color: var(--main);
    display: block;
    content: "";
    width: 170px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer-content .our p:hover{
    color: #4D8B55;
}

form input {
    width: 100%;
    height: 70px;
    border-radius: 40px;
    border: 0;

}

form button {
    width: 150px;
    height: 70px;
    right: 0;
    border-radius: 40px;
    border: 0;
    background-color: #4D8B55;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
form button:hover{
   background-color: white;
   color: #000;
}
.footer-content a i{
    color: #4D8B55;
    transition: 0.5s;
}
 .footer-content a i:hover{
    color: white;
}


/* footer */

